<div class="sidebar">
  <h2 class="sidebar-heading">C.4.5 Apps</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tambah Data Penjualan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Data Latih</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Data Uji</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hasil Klasifikasi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pohon Keputusan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rule</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
  </ul>
</div>